body {
	background-color: rgb(246,249,252); 
	color: rgb(66,84,102);
	font-family: 'Lora', serif;
	font-size: 18px;
}

h1, h2, a{
	font-family: 'Roboto', sans-serif;
}

h1{
	color: rgb(17,20,57);
    font-size: 32px;
    font-weight: 900;
    letter-spacing: 5px;
}

h2{
	font-size: 24px;
	color: rgb(99,91,255);
	font-weight: lighter;
}

.container{
	width: 700px;
	margin: 10px auto;
}

@media (max-width:  768px) {
	.container{
		width: 500px;
	},
	
}

@media (max-width:  576px) {
	.container{
		width: 300px;
	},
	
}




.card-white{
	background: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;
}
.img-circle {
	width: 200px;
	border-radius: 50%;
}


.btn-purple{
	background-color:  rgb(134 129 243) ;
	color: white;
	padding: 10px 20px;
	border-radius: 4px ;
	text-decoration: none;
}

.btn-purple:hover{
	 background-color: black;
	 color: white;
}

.list-inline{
	list-style: none;
	padding-left: 0px;
}

.list-inline li{
	display: inline;
	padding: 10px;
}

.list-inline i {
	font-size: 50px;
	color: rgb(230, 230, 230);
}


.list-inline i:hover{
	color: black;
}

#introduction {
	margin-bottom: 40px;
}

